.container{
    display: flex;
    align-items: center;
    width: 100%;
    border-left: transparent 2px solid;
transition: 150ms ease;
}

.container[data-selected = 'true'] {
    border-left-color: var(--fabric-accent-color);
}

.container:active {
    border-left-color: var(--fabric-accent-color);
}

.container[data-highlight='true'] {
    background: var(--fabric-accent-color);
}

.container:hover{
    opacity: .8;

}
/*.container:active{*/
/*    opacity: .5;*/
/*}*/

.wrapper {
    position: relative;
    display: grid;
    align-content: flex-start;

    width: 100%;

    transition: 150ms linear;
    overflow-x: hidden;
    overflow-y: visible;

    height: 100%;

}

.row {
    width: 100%;

    outline: transparent 1px dashed;
    transition: 150ms linear;

    border-radius:0  5px 5px 0;

    position: relative;
    display: flex;
    align-items: center;
    height: 25px !important;

    color: var(--fabric-color-secondary);

    overflow: hidden;
}




.button{
    width: 20px;
    min-width: 20px;
    height: 25px;
    min-height: 25px;

    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    outline: none;
    border: none;
    color: var(--fabric-color-primary);
    background: none;

    transition: 150ms linear;
}
.button:hover{
    color: var(--fabric-accent-color);
}
.button:active{
    color: var(--fabric-accent-color);
    opacity: .5;
}
.rowContentWrapper {

    width: 100%;
    display: flex;
    align-items: center;

    align-content: center;
    justify-content: space-between;
    overflow: hidden;

}

.rowContent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    align-content: center;
    font-size: .7rem;
    overflow: hidden;


    cursor: pointer;
}

.input {
    padding: 4px;
    border: var(--fabric-border-primary) 1px solid;
    outline: none;
    border-radius: 5px;
    background-color: var(--fabric-background-quaternary);
    color: var(--fabric-color-tertiary);

}

.rowType {
    display: block;
    text-align: right;
    padding-right: 8px;
    color: var(--fabric-color-quaternary);
    cursor: default;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.indicator {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--fabric-accent-color);
    position: absolute;
    left: 4px;

}

.hoveredNode {
    opacity: .5;
    outline: var(--fabric-accent-color) 1px dashed;


}
.children{
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    --position-left: 0px;
}
.children::after{
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--position-left) + .8rem);
    width: 1px;
    height: 100%;
    border-left: var(--fabric-border-secondary) 1px dashed;
}

.backgroundStripes{
    background: linear-gradient(
            to bottom,
            var(--fabric-background-secondary),
            var(--fabric-background-secondary) 50%,
            var(--fabric-background-tertiary) 50%,
            var(--fabric-background-tertiary)
    );
    background-size: 100% 50px;
}