.wrapper{
    display: flex;
    color: var(--fabric-color-secondary);
    width: 100%;
    align-items: center;
    gap: 4px;

    --accentColor: transparent;

    overflow: hidden;
    max-width: 100%;
    user-select: none !important;

    border-left: var(--accentColor) 2px solid;


    height: 25px;
    font-size: .75rem;

    background-color:var(--background-input);
    border-radius: 0 3px 3px 0;

    min-width: unset;

    position: relative;
}

.button{
    width: 35px !important;
    overflow: hidden;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.draggable{
    /*width: 50px;*/
    width: inherit;
    max-width: 100%;
    overflow: hidden;


    cursor: col-resize;
    height: 100%;
    transition: 150ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    color: var(--fabric-color-secondary);
    font-size: inherit;
    text-align: center;


}
.draggable:active{
    background-color: var(--fabric-background-quaternary);
}
.draggable::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */
.draggable[type=number] {
    -moz-appearance: textfield;
}

.metricWrapper{
    position: absolute;
    bottom: 0px;
    right: 2px;
    font-size: .6rem;
}