
.options {
    display: flex;
    width: 100%;
    padding: 3px;
    height: fit-content;
    user-select: none;
    align-items: center;
    align-content: center;
}

.alignEnd {
    display: flex;
    align-items: center;
    align-content: center;

    justify-content: flex-end;
    gap: 8px;
    width: 100%;
}

.alignStart {
    width: 100%;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 8px;
}

.optionWrapper {
    border-radius: 5px;
    background: var(--fabric-background-tertiary);


    width: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    height: 25px;
    transition: 150ms linear;

    min-width: 25px;


    font-size: .7rem !important;

    padding: 4px !important;
    position: relative !important;
    color: var(--fabric-color-secondary) !important;
    border: var(--fabric-border-primary) 1px solid;
    overflow: hidden;
    font-family: "Roboto" !important;

}


.rangeWrapper {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 0 8px;

}

.rangeLabel {
    font-size: .7rem !important;
    color: var(--fabric-color-secondary);
    font-weight: 550;
}

.dividerWrapper {
    display: flex;
    align-items: center;
    align-content: center;

    color: var(--fabric-color-primary);
    gap: 8px;
    font-size: .7rem !important;


    padding: 0 6px;
    overflow: hidden;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--fabric-border-primary);
}

.summary {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 0 4px;
    font-size: .7rem !important;
}

.overflow {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*TODO*/
/*.cameraView {*/
/*    --cubeSize: 50px;*/
/*    width: calc(var(--cubeSize) * 2);*/
/*    height: calc(var(--cubeSize) * 2);*/

/*    perspective: var(--cubeSize) ;*/
/*}*/
/*.cube {*/
/*    width: var(--cubeSize);*/
/*    height: var(--cubeSize);*/
/*    position: relative;*/
/*    transform-style: preserve-3d;*/

/*    transition: transform 1s;*/


/*    transform:translateZ(calc(var(--cubeSize) * -2));*/
/*}*/

/*.cube.show-front  { transform: translateZ(calc(var(--cubeSize) * -1)) rotateY(   0deg); }*/
/*.cube.show-right  { transform: translateZ(calc(var(--cubeSize) * -1)) rotateY( -90deg); }*/
/*.cube.show-back   { transform: translateZ(calc(var(--cubeSize) * -1)) rotateY(-180deg); }*/
/*.cube.show-left   { transform: translateZ(calc(var(--cubeSize) * -1)) rotateY(  90deg); }*/
/*.cube.show-top    { transform: translateZ(calc(var(--cubeSize) * -1)) rotateX( -90deg); }*/
/*.cube.show-bottom { transform: translateZ(calc(var(--cubeSize) * -1)) rotateX(  90deg); }*/

/*.cubeFace {*/
/*    position: absolute;*/
/*    width: calc(var(--cubeSize) * 2);*/
/*    height: calc(var(--cubeSize) * 2);*/
/*    border: 2px solid black;*/
/*    line-height: calc(var(--cubeSize) * 2);*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/

/*.cubeFaceFront  { background: hsla(  0, 100%, 50%, .5); }*/
/*.cubeFaceRight  { background: hsla( 60, 100%, 50%, .5); }*/
/*.cubeFaceBack   { background: hsla(120, 100%, 50%, .5); }*/
/*.cubeFaceLeft   { background: hsla(180, 100%, 50%, .5); }*/
/*.cubeFaceTop    { background: hsla(240, 100%, 50%, .5); }*/
/*.cubeFaceBottom { background: hsla(300, 100%, 50%, .5); }*/

/*.cubeFaceFront  { transform: rotateY(  0deg) translateZ(var(--cubeSize)); }*/
/*.cubeFaceRight  { transform: rotateY( 90deg) translateZ(var(--cubeSize)); }*/
/*.cubeFaceBack   { transform: rotateY(180deg) translateZ(var(--cubeSize)); }*/
/*.cubeFaceLeft   { transform: rotateY(-90deg) translateZ(var(--cubeSize)); }*/
/*.cubeFaceTop    { transform: rotateX( 90deg) translateZ(var(--cubeSize)); }*/
/*.cubeFaceBottom { transform: rotateX(-90deg) translateZ(var(--cubeSize)); }*/

.buttonGroup {
    display: flex;
}

.groupItem {
    --colorToApply: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fabric-background-tertiary) !important;

    height: 25px;
    width: 25px;

    padding: 0 !important;
    border-radius: 0;
}
.groupItem:hover{
    --colorToApply: var(--fabric-accent-color);
}
.shadedIcon{
    transition: 150ms linear;
    /*background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%);*/
    background: linear-gradient(to right bottom, var(--colorToApply) 25%,#333333 75%);

    width: 15px;
    height: 15px;
    border-radius: 50%;

}
.wireframeIcon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.flatIcon{
    transition: 150ms linear;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    background: var(--colorToApply);


}
