

.viewport {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--fabric-background-secondary);
    border-radius: 5px;
    transition: 150ms linear;
    position: relative;

}
.viewport:active{
    cursor: none;
}
.viewport > * {
    transition: opacity 150ms linear;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    color: white;
    padding: 8px 0;
}



.hovered{
    outline: var(--fabric-accent-color) 1px dashed !important;
}
.hovered > * {
    opacity: .5;
}
.position{
    color: var(--fabric-color-primary);
    font-size: .75rem;

    position: absolute;
    z-index: 10;
    backdrop-filter: blur(10px) brightness(70%);
    padding: 8px;
    width: fit-content;
    height: fit-content;

    display: grid;
    gap: 4px;

    bottom: 4px;
    left: 4px;
    border-radius: 5px;
  

}
