.options {
    /*background-color: red;*/
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 4px;
    border-radius: 0 5px 5px 5px;
    border-top: var(--fabric-background-quaternary) 1px solid;
    background-color: var(--fabric-background-primary);
}

.divider {
    height: 75%;
    width: 1px;
    background-color: var(--fabric-background-quaternary);
}

.label {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.option {
    display: flex;
    gap: 4px;

    width: fit-content;
    align-items: center;
    padding: 8px !important;

    font-size: .7rem !important;
    font-weight: 550 !important;
    color: var(--fabric-color-tertiary) ;

}


.group {
    display: flex;
    align-items: center;
    height: 35px;
    padding-right: 64px;
}