.wrapper {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    gap: 8px;


}

.buttons {
    display: flex;
    gap: 8px;
    width: 100%;
}

.button {
    width: 100%;
    height: 25px;

    padding: 0 !important;
}

.placeholder {
    width: 100%;
    padding: 0 !important;
    height: 35px;
    background-color: black;
}

.label {

    color: var(--fabric-color-secondary);
    font-family: "Roboto";
    font-weight: 550;
    font-size: .75rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.modal {

    display: flex;
    flex-direction: column;

    gap: 16px;

    max-width: 220px;
    min-width: 220px;
    align-items: center;

    padding: 8px;
    border-radius: 5px;
    background-color: var(--fabric-background-primary);


    box-shadow: rgba(0, 0, 0, .3) 2px 4px 10px 2px;
}

.inputLabel {

    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--fabric-color-secondary) !important;
    font-size: .7rem;
    font-weight: 550;
    width: 100%;


}

.inputs {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
}