.wrapper {
    width: 50%;
    height: 75%;
    background: var(--fabric-background-primary);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

}


.tabs {
    width: 100%;
    height: 100%;
    /*width: fit-content;*/
    display: flex;

}

.tab{
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    display: grid;
    align-content: flex-start;
    gap: 16px;
}
.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.submitButton {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    text-align: center;
}

.submitWrapper {

    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 4px;
    height: 35px;


}