.box{
    border: var(--fabric-accent-color) 2px solid;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
}
.box::after{
 content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fabric-accent-color);
    opacity: .2;
}